body {
    background-image: url("pxfuel.jpg");
    font-family: 'Poppins';
  }
  
  #navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    
    text-align: center;
    background-color: #1212129e;
    backdrop-filter: blur(2px);
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    transition: 0.5s;
  }
  
  #navbar a {
    color: white;
    text-decoration: none;
    font-size: 2.3vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    vertical-align: middle;
  }
  
  .profile {
    height: 50vw;
  }
  
  .profile img {
    max-width: 30%;
    height: auto;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
    margin-left: 8vw;
    margin-top: 10vw;
  }
  
  .profile img:hover {
    max-width: 32%;
    box-shadow: 0 0 50vw #000;
  }
  
  .name {
    color: #fff;
    margin-left: 45vw;
    margin-top: -30vw;
    font-size: 5vw;
  }
  
  .wrapper {
    padding-top: 5vw;
  }
  
  .sect {
    margin: 3vw auto;
    max-width: 100%;
    min-height: min-content;
    background-color: #1212129e;
    padding: 2vw 5vw 6vw;
    text-align: center;
    color: #eee;
    font-size: 3vw;
  }
  
  .sect.afterclick {
    animation: clicked 7s;
  }
  
  button{
    color: #eee;
    background-color: #07199f;
    width: 20vw;
    height: 5vw;
    border-radius: 2vw;
    border: none;
    font-family: 'poppins';
    font-size: 2vw;
    transition: 0.5s;
  }
  
  button:hover{
    background-color: #1930dc;
    width: 21vw;
  }
  
  @keyframes clicked {
  
    0% {
        background-color:#1212129e;
    max-width: 100%;
    color: #eee;
    }
  
    10%{
        background-color: #eeeeeeaa;
    max-width: 80%;
    box-shadow: 0 0 6vw #000;
    color: #000;
    }
  
    80%{
        background-color: #eeeeeeaa;
    max-width: 80%;
    box-shadow: 0 0 6vw #000;
    color: #000;
    }
  
    100%{
        background-color:#1212129e;
        max-width: 100%;
        color: #eee;
    }
  }
  
  a {
    text-decoration-line: none;
    color: white;
  }
  
  a:visited {
    color: white;
  }
  
  footer {
    padding: 1vw 4vw;
    background-color: #000;
    color: #fff;
    font-size: 2vw;
  }
  