
body {
    font-family: poppins;
    margin: 0;
    padding: 0;
    background-image: url("pxfuel.jpg");
}

#navbar {
    position: fixed;
    top:0;
    width: 100%;
    text-align: center;
    background-color: #1212129e;
    backdrop-filter: blur(2px);
    padding: 1.5vw;
    transition: 0.5s;
}

#navbar a {
    color: white;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
}

.profile {
    display: flex;
    height: 600px;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.profile img {
    width: 300px;
    border-radius: 50%;
    margin-top: 4vw;
    transition: 1s;
}

.profile img:hover {
    width: 320px;
    box-shadow: 0 0 50vw #000;
}

.profile p {
    color: #fff;
    font-size: 40px;
    padding: 30px;
    margin-top: 9vw;
}

.profile span {
    color: #fff;
    font-size: 20px;
}

@media screen and (max-width: 600px) {

  #navbar a{
    font-size: 3vw;
  }
}

@media screen and (max-width: 900px) {

    .profile {
        flex-direction: column;
    }

    .profile img {
        width:260px;
        margin-top: 20vw;
    }

    .profile p {
        margin-top: -10px;
        font-size: 30px;
    }

    .profile span {
      font-size: 15px;
  }
}

.sect {
    margin: 3vw auto;
    max-width: 100%;
    min-height: min-content;
    background-color: #1212129e;
    padding: 2vw 3vw 3vw;
    text-align: center;
    color: #eee;
}

.afterclick {
    animation: clicked 7s;
}

#lang_pri{
    width:9vw;
    transition: 0.5s;
    padding: 2vw;
}

#lang_pri:hover{
    width:10vw;
}

#lang_sec{
    width:5vw;
    transition: 0.5s;
    padding: 1vw;
}

#lang_sec:hover{
    width:10vw;
}

#cert{
    width:15vw;
    transition: 0.5s;
    padding: 2vw;
}

#cert:hover{
    width:20vw;
}

button {
    color: #eee;
    background-color: #07199f;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    border: none;
    font-family: 'poppins';
    font-size: 12px;
    transition: 0.5s;
}

button:hover {
    background-color: #1930dc;
    width: 120px;
}

@keyframes clicked {

    0% {
        background-color: #1212129e;
        color: #eee;
    }

    10% {
        background-color: #eeeeeeaa;
        box-shadow: 0 0 6vw #000;
        color: #000;
    }

    80% {
        background-color: #eeeeeeaa;
        box-shadow: 0 0 6vw #000;
        color: #000;
    }

    100% {
        background-color: #1212129e;
        color: #eee;
    }
}

a {
    text-decoration-line: none;
    color: white;
}

a:visited {
    color: white;
}

footer {
    padding: 1vw 4vw;
    background-color: #000;
    color: #fff;
}
